header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) 
                            p Join        
                    li
                        a(href=routes.login) 
                            p Log In
                else
                    li
                        a(href=`/videos${routes.upload}`) 
                            p Upload  
                    li
                        a(href=routes.me) 
                            p Profile
                    li
                        a(href=routes.logout) 
                            p Log Out